@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="mb-4">@ViewData["Title"]</h1>

            @if (Model.DisplayConfirmAccountLink)
            {
                <a id="confirm-link" class="btn btn-primary btn-lg" href="@Model.EmailConfirmationUrl">
                    Click here to confirm your account
                </a>
            }
            else
            {
                <p>Please check your email to confirm your account.</p>
            }
        </div>
    </div>
</div>
